<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicate that index.js is a Node.js application handled by iisnode -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Redirect all traffic to index.js -->
    <rewrite>
      <rules>
        <!-- Don't interfere with static content -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^public/.*" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Custom logging and error messages -->
    <httpErrors existingResponse="PassThrough" />
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>

