<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicate that all requests are handled by iisnode -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all URLs to index.js, except static files -->
    <rewrite>
      <rules>
        <!-- Don't interfere with static content -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(public|scripts|styles|images)/.*" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <!-- Exclude existing physical files and directories -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Custom logging and error messages -->
    <httpErrors existingResponse="PassThrough" />
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
