.hero-background {
  background-image: url('/images/hero-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mortgage-background {
  background-image: url('/images/mortgages-main-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.calculators-background {
  background-image: url('/images/calculators-main-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
}
